.app-container {
  margin: auto;  
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-top: 16px;
  width: 980px;
  box-sizing: border-box;
}

.markdown-body {
  padding: 45px;
}

/*
.plain-body {
  padding: 45px;
  font-family: monospace;
}
*/

.menu {
  position: fixed;
  right: 20px;
  top: 20px;
}

.modal-open {
  overflow: inherit;
  padding-left: 15px;
  padding-right: 15px;
}

.icon-button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

.warning-box {
  box-sizing: border-box;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f2dede;
  color: #a94442;
}

.warning-box > h3 {
  margin: 0px;
}
